body{
  background-color: cyan;
}

.form-container{
  background-color: white;
  border-radius: 15px 15px;
  padding: 30px;
  width: 20%;
  margin: 100px auto;
}

h2{
  text-align: center;
}

label{
  display: flex;
  justify-content: center;
  margin: 5px;
  color: rgb(75,75,75);
}

input, textarea{
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid rgb(200,200,200);
}

button{
  display: block;
  margin: auto;
  background-color: MediumSeaGreen;
  border: none;
  border-radius: 5px 5px;
  color: white;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button:hover{
  background-color: ForestGreen;
}